<div class="main-content">
  <!-- Image -->
  <img src="/images/blog_image1.jpg" alt="Blog image" class="hero-image">

  <!-- Text container -->
  <div class="text-container">
    <h2 class="main-title">Bring Your Ideas to Life: Effortlessly Create, Manage, and Explore Your Blog Content with Our Platform</h2>
    <p class="cta-text">Ready to start your blogging adventure? <a href="#latest-posts" class="cta-link">Explore the latest posts</a> and take the first step towards reaching your audience with ease!</p>
  </div>
</div>
<!-- Latest Posts Section -->
<section id="latest-posts"  class="articles">
  <div class="articles-header">
    <h2 class="articles_heading" href="#latest-posts" class="scroll-link">Recent Articles</h2>
    <h2><a href="/add-post">+ Add New</a></h2>
  </div>
  <ul class="article-ul">
    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list_date"><% if (post.updated) { %> 
   <%= post.updatedAt.toDateString() %> 
<% } else { %>
  <%= post.createdAt.toDateString() %>
<% } %></span>
      </a>
    </li>
    <% }) %>

    <!-- Add more articles here -->
  </ul>
  <% if (nextPage != null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
</section>

