<h1 class="article-title"><%= data.title %></h1>
<article class="article-content">
  <%= data.body %>
</article>

<% if (error) { %>
  <div class="alert alert-danger">
    <%= error %>
  </div>
<% } %>

<div class="admin-post-controls">
  <% if (isAuthor) { %>
    <a href="/edit-post/<%= data._id %>" class="edit">Edit</a>
    <form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete" class="delete">
    </form>
  <% } else { %>
    <div class="alert alert-warning custom-warning">
      You are not authorized to edit or delete this post.
    </div>
  <% } %>
</div>

